a {
  color: black;
}

.nav-link {
  color: black;
}

.btn-outline-success {
  color: gray;
  border-color: gray;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: gray;
  border-color: gray;
}

.lines {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3%;
}

.sub-title {
  font-size: 1.5rem;
}

.carousel-link {
  font-size: 0.8rem;
  color: white;
  text-decoration: underline;
}

.carousel-link:hover {
  color: white;
}

.card-padding {
  padding: 48px;
}

footer {
  background-color: black;
  color: white;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}
